{%- liquid
  assign button_label = label | default: 'Learn more'
  assign button_url = url | default: '#'
  assign button_style = style | default: 'primary'
  assign button_tag = tag | default: 'a'
  assign button_type = type | default: 'button'
  assign button_class = 'btn btn--primary'

  case button_style
    when 'primary'
      assign button_class = 'btn btn--primary'
    when 'primary-on-dark'
      assign button_class = 'btn btn--primary-on-dark'
    when 'secondary'
      assign button_class = 'btn btn--secondary'
    when 'secondary-on-dark'
      assign button_class = 'btn btn--secondary-on-dark'
    when 'tertiary'
      assign button_class = 'btn btn--link'
    when 'link'
      assign button_class = 'btn btn--link'
    when 'icon'
      assign button_class = 'button-icon'
  endcase

  if size == 'sm'
    assign button_class = button_class | append: ' btn--sm'
  elsif size == 'lg'
    assign button_class = button_class | append: ' btn--lg'
  endif

  if class != blank
    assign button_class = button_class | append: ' ' | append: class
  endif
-%}
{%- if button_tag == 'button' -%}
  <button type="{{ button_type }}" class="{{ button_class }}"{% if attributes != blank %} {{ attributes }}{% endif %}>{{ button_label }}</button>
{%- else -%}
  <a href="{{ button_url }}" class="{{ button_class }}"{% if attributes != blank %} {{ attributes }}{% endif %}>{{ button_label }}</a>
{%- endif -%}
